{% extends 'base.twig' %}

{% block title 'About' %}

{% block content %}
<div class="container my-2 my-md-5">
    <div class="card text-justify">
        <div class="card-header">
            
        </div>
        <div class="card-body p-5">
            
        </div>
    </div>
</diV>
{% endblock %}