{% extends 'base.twig' %}

{% block content %}
<main class="form-signin text-center h-100 d-grid">
	<div class="card m-auto card-login">
		<div class="card-body">
			<form method="POST">
				<input type="hidden" name="act" value="login"/>
				<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
				<div>
					<div class="form-floating mb-2">
						<input type="text" name="login" class="form-control" id="login" placeholder="Login">
						<label for="login">Login</label>
					</div>
					<div class="form-floating">
						<input type="password" name="pass" class="form-control" id="password" placeholder="Password">
						<label for="login">Password</label>
					</div>
				</div>
				<input type="submit" class="btn btn-custom-primary w-100" value="Submit">
			</form>
		</div>
	</div>
</main>
{% endblock %}