<td><a href="edit_meta.php?metaid={{ data["id"] }}"><img src="../common/assets/img/editer.png" /></a></td>
<td>{{ data["field_name"]}}</td>
<td>{{ data["type"]}}</td>
<td>{{ data["label"]}}</td>
<td><img src="../common/assets/img/{% if data["active"] == 0%}in{% endif %}active.png" /></td>